::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background: #ffffad;
    width: 100vw;
}

nav {
    display: flex;
    color: #000;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
}

.logo_div {
    width: 5rem
}

.logo_div img{
    width: 5rem;
}

.menu_div {
    display: flex;
    margin: 1rem;
    margin-left: 10rem;
}

h6 {
    font-size: 15px;
    margin: 1rem;
    cursor: pointer;
}