::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100vw;
}

nav {
    display: flex;
    color: #000;
    top: 0;
    left: 0;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 5rem;
    z-index: 9999;
    position: fixed;
    background: #ffffad;
}

.logo_div {
    width: 5rem;
    padding: 2rem;
}

.logo_div img{
    width: 4rem;
    margin-left: -10rem;
}

.menu_div {
    display: flex;
    margin: 1rem;
}

h6 {
    font-size: 15px;
    margin: 2rem;
    cursor: pointer;
}

.btn {
    border: 1px solid #000;
    background: #ffffad;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: -5rem;
}

.btn:hover {
    color: #000;
    background: rgba(240, 240, 240, 0.726);
    border: 1px solid #000;
}

main {
    margin-top: 10rem;
}

/* Main section starts here */

.sec1  {
    background:#fff;
    display: flex;
}

.content {
    width: 50%;
}